{% extends 'admin.html' %} {% block staff_section %}

<div class="right_container_head">
  <h1>DASHBOARD </h1>
  <h2 class="sub-heading">| Classes</h2>
</div>

<div class="form-container">
    <form action="/admin/classes/add_new" method="POST">
        

        <div class="form-group">
        <label for="staff_name">Staff Name</label>
        <input type="text" id="staff_name" name="staff_name" required>
        </div>
        <div class="form-group">
</div>

<style>
  .sub-heading {
    color: var(--text_color);
    text-align: left;
    margin-left: 1%;
    font-size: 45px;
    font-weight: 600;
  }
</style>

{% endblock %}
