{% extends 'admin.html' %} {% block staff_section %}

<div class="right_container_head">
  <h1>DASHBOARD </h1>
  <h2 class="sub-heading">| Students</h2>
</div>

<div class="form-container">
    <form act90jon="/admin/student/add_new" method="POST">
        <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
        </div>
    </form>
</div>



<style>
  .sub-heading {
    color: var(--text_color);
    text-align: left;
    margin-left: 1%;
    font-size: 45px;
    font-weight: 600;
  }
</style>

{% endblock %}
